attrs==20.3.0
backcall==0.2.0
boto3==1.16.13
botocore==1.19.13
boxsdk==2.10.0
ccf @ git+https://github.com/humanconnectome/ccf_libs@b9c98b40b4c5c528b7d741a518fa327cd03c601b
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
docutils==0.16
idna==2.10
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
jupyter-client==6.1.7
jupyter-core==4.6.3
mock==4.0.2
more-itertools==8.6.0
nda-tools==0.2.3
numpy==1.19.4
packaging==20.4
pandas==1.1.4
parso==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.2
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
urllib3==1.25.11
wcwidth==0.2.5
wrapt==1.12.1
